.savedmovies {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .savedmovies {
    max-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .savedmovies {
    max-width: 320px;
  }
}
